/*global start*/
li {
  list-style: none;
}

.banner {
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.44);
  z-index: 0;
  height: 450px;
}

.bannertitle {
  z-index: 1;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  box-shadow: 0 0 7px 9px rgba(17, 211, 203, 0.3);
  width: 100%;
  max-width: 50%;
  text-align: center;
}
.bannertitle p {
  color: #fff;
}
@media screen and (max-width: 575px) {
  .bannertitle {
    width: 100%;
    text-align: center;
  }
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: #707070;
}

h1 {
  font-size: 60px;
  font-weight: 500;
  font-family: math;
  color: #fff;
  text-align: center;
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
}

h2 {
  font-size: 37px;
  line-height: normal;
  font-weight: 500;
  text-align: center;
  color: #585757;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 30px;
    margin-bottom: 14px;
  }
}
@media screen and (max-width: 575px) {
  h2 {
    font-size: 24px;
  }
}

h3 {
  font-size: 35px;
  color: #11d3cb;
}

h4 {
  font-size: 24px;
  color: #fff;
  line-height: normal;
  margin-bottom: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #585757;
}

::-webkit-scrollbar-thumb {
  background: #11d3cb;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  -webkit-filter: brightness(120%);
  filter: brightness(120%);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

.primary-btn {
  background: #11d3cb;
  border: 1px solid #11d3cb;
  display: inline-block;
  padding: 12px 23px;
  border-radius: 5px;
  color: #fff;
  width: 100%;
  max-width: 135px;
}
.primary-btn a {
  color: #fff;
}
.primary-btn:hover {
  background-color: transparent;
}
.primary-btn:hover a {
  color: #707070;
}

.destination-btn {
  background: #11d3cb;
  border: 1px solid #11d3cb;
  display: inline-block;
  padding: 12px 23px;
  border-radius: 5px;
  color: #fff;
  position: absolute;
  left: 20px;
  right: auto;
  bottom: 25%;
}
.destination-btn a {
  color: #fff;
}
.destination-btn:hover {
  background-color: transparent;
}
.destination-btn:hover a {
  color: #fff;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: "Poppins", sans-serif;
}

a:focus {
  color: inherit;
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

/*global end*/
/*header start*/
header.site-header {
  background: transparent;
  font-size: 18px;
  padding: 14px 0;
  font-weight: 700;
  text-transform: capitalize;
  color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  transition: 0.3s;
}

header.site-header.sticky {
  background: #11d3cb;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  padding: 10px 0;
  position: fixed;
}

header.site-header.sticky .site-nav a.active {
  color: #585757;
}

header.site-header.sticky .site-nav a:hover {
  color: #585757;
}

.site-header .site-nav ul li a.active {
  color: #11d3cb;
}

.site-logo img {
  width: 100%;
  max-width: 300px;
}

.site-nav a {
  padding: 8px 12px !important;
  display: inline-block;
  font-weight: 500;
  color: #fff;
}
.site-nav a:hover {
  color: #11d3cb;
}

.site-header {
  padding: 10px 0;
}

.site-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-nav ul {
  display: flex;
  align-items: center;
}

.closed-menu {
  display: none;
}

.menu-toggle {
  display: none !important;
}

/*header end*/
/*footer-css-start*/
.footer {
  background: #11d3cb;
  padding: 50px 0;
}
.footer-logo img {
  max-width: 250px;
}
.footer-links h2 {
  color: #585757;
}
.footer-links h3 {
  color: #585757;
  font-size: 25px;
}
.footer-links li a {
  color: #fff;
  font-weight: 500;
}
.footer-links li a:hover {
  color: #585757;
}
.footer-adresse h2 {
  color: #585757;
}
.footer-adresse h3 {
  color: #585757;
  font-size: 25px;
}
.footer-adresse p {
  color: #fff;
  line-height: 20px;
}
.footer-mails a,
.footer-mails i {
  color: #fff;
  font-weight: 500;
}
.footer-mails a:hover,
.footer-mails i:hover {
  color: #585757;
}

.social-signals {
  padding: 25px 0;
  cursor: pointer;
}
.social-signals i {
  color: #fff;
  font-size: 24px;
  text-align: center;
  line-height: 40px;
  margin: 0 10px;
  border: 1px solid #fff;
  border-radius: 30px;
  height: 40px;
  width: 40px;
  transition: 0.3s linear;
}
.social-signals i:hover {
  color: #585757;
}

.copyright-text {
  text-align: center;
  border-top: 1px solid #fff;
  margin-top: 20px;
}
.copyright-text p {
  color: #fff;
}

/*footer-css-end*/
/*privacy-policy start*/
.privacy__section.banner {
  background-image: url(../images/privacybanner.jpg);
  text-align: center;
  position: relative;
  background-position: top;
}

.privacy-policy {
  padding: 40px 0;
}
.privacy-policy .content-wrap h4 {
  color: #11d3cb;
  margin-bottom: 0;
  font-weight: 400;
}
.privacy-policy .content-wrap p {
  color: #707070;
  font-size: 15px;
}
.privacy-policy .content-wrap li {
  font-size: 15px;
  font-weight: 400;
  line-height: normal;
  color: #707070;
}

/*privacy-policy end*/
/*terms-conditon start*/
.terms__section.banner {
  background-image: url(../images/termsbanner.jpg);
  text-align: center;
  position: relative;
  background-position: top;
}

.terms {
  padding: 40px 0;
}
.terms .content-wrap h4 {
  color: #11d3cb;
  margin-bottom: 0;
  font-weight: 400;
}
.terms .content-wrap p {
  color: #707070;
  font-size: 15px;
}
.terms .content-wrap li {
  font-size: 15px;
  font-weight: 400;
  line-height: normal;
  color: #707070;
}

/*terms-conditon-end/

/*banner-css-start*/
.homebanner.banner {
  background-image: url(../images/homebanner.jpg);
  height: 650px;
  position: relative;
}
.homebanner.banner::after {
  height: 650px;
}

.aboutbanner.banner {
  background-image: url(../images/aboutusbanner.jpg);
  position: relative;
}

.aboutpicture {
  background-image: url(../images/aboutpicture.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 3;
}
.aboutpicture::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.76);
  z-index: -1;
}

.resortbanner.banner {
  background-image: url(../images/resortsbanner.jpg);
  position: relative;
}

.abouttext {
  padding: 100px 0;
  z-index: 99999;
}
.abouttext p {
  color: #fff;
  text-align: center;
  padding: 10px 0 0 0;
}

.destinationtbanner.banner {
  background-image: url(../images/destinationbanner.jpg);
  position: relative;
}

/*banner-css-end*/
/*home-css-start*/
.toptext {
  padding: 50px 0;
}
.toptext-content p {
  color: #707070;
  text-align: center;
}

.features-inner img {
  border-radius: 8px;
  margin-bottom: 10px;
  height: 250px;
  object-fit: cover;
}
.features-inner h3 {
  text-align: center;
}
.features-inner p {
  text-align: center;
}

.choose-flex {
  display: flex;
  align-items: center;
  gap: 10px;
}
.choose-flex img {
  max-width: 40px;
}
.choose-picture img {
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
}
.choose-main {
  background: #11d3cb;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 15px;
}
.choose-main p {
  color: #fff;
  margin-top: 5px;
}

.contact-instructions p {
  padding-top: 50px;
}
.contact-instructions h3 {
  font-size: 27px;
  text-align: center;
}
.contact-instructions a {
  text-align: center;
  display: block;
}

.contact-instructions .row {
  display: flex;
  align-items: center;
}

.about_us_content {
  background: #11d3cb;
  padding: 2rem;
  margin: 50px 0 0 0;
}

.form-group {
  margin-bottom: 2rem;
}

.input-control {
  display: block;
  width: 100%;
  height: 4rem;
  border: 1px solid #fff;
  padding: 2rem 2rem;
  background: transparent;
  color: #fff;
}

textarea.input-control {
  resize: none;
  height: auto;
}

.form-group .submit-btn {
  background: #585757;
  border: 1px solid #707070;
  transition: all 0.2s linear;
  display: inline-block;
  padding: 0.8rem 4rem;
  color: #fff;
  text-transform: capitalize;
}
.form-group .submit-btn:hover {
  background-color: #11d3cb;
  border: 1px solid #fff;
}

textarea#message:focus-visible {
  outline: none;
}

.form-group label {
  display: inline-block;
  padding-bottom: 5px;
  color: #fff;
  transition: all 0.2s linear;
  text-transform: capitalize;
}

/*home-css-end*/
/*Start-faq-css*/
.faq-page {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.casino-text.hoteli {
  padding: 0 0 50px 0 !important;
}

.faq-item {
  padding: 20px;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
}

.faq-item:last-child {
  border-bottom: none;
}

.faq-question {
  font-size: 18px;
  line-height: 25px;
  color: #11d3cb;
  font-weight: 500;
}

.faq-section {
  padding: 50px 0;
}

h2.mb-0.disclamier {
  font-size: 20px;
  margin-top: 50px;
}

p.disclamier {
  font-size: 13px;
  margin-bottom: 30px;
}

.faq-answer {
  font-size: 16px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  padding-left: 10px;
}
.faq-answer p {
  padding-top: 25px;
  padding-bottom: 25px;
}

.faq-answer.active {
  border-bottom: 1px solid #e0e0e0;
}

.icon-container i {
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.icon-container i.active {
  transform: rotate(90deg);
}

/*End-faq-css*/
/*Start-About-css*/
.abouttext {
  padding: 100px 0;
  z-index: 99999;
}
.abouttext p {
  color: #fff;
  text-align: center;
  padding: 10px 0 0 0;
}

/*End-About-css*/
/*Start-Resorts-casinos-css*/
.bottomtext {
  padding: 50px 0 0 0;
}
.bottomtext p {
  text-align: left;
}

.resortscard-picture img {
  border-radius: 10px;
  height: 450px;
  object-fit: cover;
}
.resortscard-content {
  margin-top: 40px;
}
.resortscard-content h4 {
  color: #11d3cb;
  line-height: 22px;
}

/*End-Resorts-casinos-css*/
/*Start-Casino-destination-css*/
.destination-main .row {
  justify-content: center;
}

.destination-cards h4 {
  color: #11d3cb;
  font-size: 23px;
  text-align: center;
  margin: 10px 0;
  min-height: 50px;
}
.destination-picture {
  position: relative;
}
.destination-picture img {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  height: 300px;
  transition: 0.3s;
}
.destination-picture img:hover {
  filter: grayscale(1);
}

/*End-Casino-destination-css*/


/*# sourceMappingURL=style.css.map */
